{% extends "base.html" %}
{% block content %}
<!-- Your error message logic and HTML here. -->
{% if error_user == True %}
<h3 class="error">This user does not exist!</h3>
{% endif %}

{% if error == True %}
<h3 class="error">Password is not incorrect</h3>
{% endif %}

<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="username">Password</label>
    <input id="password" type="text" name="password">
    <input type="submit" value="Login">
</form>
{% endblock content %}